@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");  

.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-sticky {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 700ms ease-in-out;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    width: 100%;
}

.nav-stationary {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 700ms ease-in-out;
    text-align: center;
    width: 100%;
}

.nav-header {
    font-size: 1.875rem;
    line-height: 2.25rem;
	font-weight: 700;   
    line-height: 1;
}

.nav-icon {
    height: 3rem;
    width: auto;
    border-radius: 50%;
}

.nav-title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.025em;
    color: var(--tertiary);
    position: absolute;
    display: hidden;
    margin-top: 0.625rem;
    margin-left: 0.75rem;
}

.laptop-hidden {
    display: hidden;
}

.nav-menu-button {
    display: flex;
    align-items: center;
    color: var(--tertiary);
    background: none;
    border: none;
    padding: 0.75rem;
}

.nav-menu-icon {
    display: block;
    height: 1rem;
    width: 1rem;
    fill: currentColor;
}

.nav-links {
    display: hidden;
    position: absolute;
    top: 0.75rem;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.nav-link {
    color: var(--tertiary);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.nav-link-active {
    color: var(--secondary);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) inset;
}

.nav-link-active:hover {
    color: white;
}

.nav-link-btn {
    display: none;
}

.nav-link-btn button {
    display: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 4rem;
    color: var(--primary);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 800;  
    background-color: var(--tertiary);
    border-color: transparent;
}

.nav-link-btn button:hover {
    color: var(--secondary);
}

.nav-menu-container-hidden {
    position: relative;
    overflow: hidden;
    display: none;
    z-index: 50;
}

.nav-menu-container {
    position: relative;
    overflow: hidden;
    z-index: 50;
}

.nav-menu-screen-cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(31 41 55);
    opacity: 0.25;
}

.nav-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
	width: 83.333333%;
    max-width: 24rem;
    padding: 1.5rem;
    background-color: var(--tertiary);
    border-right-width: 1px;
    overflow-y: hidden;
}

.nav-menu-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-menu-icon {
    margin-right: auto;
	font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    line-height: 1;
}

.nav-menu-icon * {
    width: auto;
    height: 2.5rem;
}

.nav-menu-close-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--secondary);
    cursor: pointer;
}

.nav-menu-close-icon:hover {
    color: rgb(107 114 128);
}

.nav-menu-bottom {
    margin-top: auto;
}

.nav-menu-contact-container {
	padding-top: 1.5rem;
}

.nav-menu-contact-button {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 2;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 0.25rem;
    border-color: var(--primary);
    color: var(--primary);
    font-weight: 600;
}

.nav-menu-contact-button:hover {
    border: transparent;
    color: var(--tertiary);
    background: var(--primart);
}

.nav-menu-socials {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

@media (max-width: 1024px) {
    .nav-links {
        display: none;
    }

    .nav-sticky {
        height: 5rem;
        margin-top: 1rem;
    }

    .nav-stationary {
        margin-top: 1rem;
    }
}

@media (min-width: 1024px) {
    .nav-title {
        display: inline-block;
    }

    .laptop-hidden {
        display: block;
    }

    .nav-links {
        display: flex;
        position: relative;
        align-items: center;
        width: auto;
        flex: 1 1 0%;
        justify-content: center;
    }

    .nav-links > * + * {
        margin-left: 2rem;
    }

    .nav-menu-button {
        display: none;
    }

    .nav-link-btn {
        display: inline-block;
    }

    .nav-link-btn button {
        display: inline-block;
        margin-left: auto;
        margin-right: 1rem;
    }

    .nav-menu-social {
        margin-bottom: 3;
    }
};

.header-container {
    top: 0;
    left: 0;
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    font-size: 1.5rem;
    font-weight: bolder;
    background: var(--_primary);
}

.header-title-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-title-first {
    color: white;
    font-family: "Montserrat-700";
    font-size: 7rem;
    z-index: 5;
}

.header-title-second {
    color: rgb(209, 207, 207);
    font-family: "Montserrat-700";
    font-size: 7rem;
    top: -15rem;
    position: relative;
    z-index: 4;
}

.header-title-third {
    color: rgb(162, 162, 162);
    font-family: "Montserrat-700";
    font-size: 7rem;
    top: -30rem;
    position: relative;
    z-index: 3;
}


.header-title-fourth {
    color: rgb(117, 116, 116);
    font-family: "Montserrat-700";
    font-size: 7rem;
    top: -45rem;
    position: relative;
    z-index: 2;
}

.header-title-fifth {
    color: rgb(66, 65, 65);
    font-family: "Montserrat-700";
    font-size: 7rem;
    top: -60rem;
    position: relative;
    z-index: 1;
}

.header-container-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 7rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-15%) translateX(-40%);
}

.header-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 9%;
    width: 25%;
}

.header-info-header {
    color: var(--_secondary);
    font-size: 0.7rem;
}

.header-info-subheader {
    color: white;
    font-size: 1.5rem;
}

.header-info-text {
    color: var(--_tertiary);
    font-size: 0.75rem;
}

@media (max-width: 640px) {
    .header-container {
        height: max-content;
    }

    .header-container-content {
        flex-wrap: wrap;
    }

    .header-info-container {
        margin-top: -160%;
        width: 85%;
        left: 50%;
        transform: translateX(5%);
        line-height: 1.3rem;
    }

    .header-title-container {
        left: 50%;
        transform: translateX(-60%) translateY(-20%);
    }
    
    .header-title-first {
        font-size: 3rem;
        top: 0;
    }

    .header-title-second {
        font-size: 3rem;
        top: -6.2rem;
    }

    .header-title-third {
        font-size: 3rem;
        top: -12.4rem;
    }

    .header-title-fourth {
        font-size: 3rem;
        top: -18.6rem;
    }

    .header-title-fifth {
        font-size: 3rem;
        top: -24.8rem;
    }
};