@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");  

.nav-sticky {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 700ms ease-in-out;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: var(--tertiary);
    width: 100%;
}

.nav-stationary {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 700ms ease-in-out;
    text-align: center;
    background: transparent;
    width: 100%;
}

.nav-header {
    font-size: 1.875rem;
    line-height: 2.25rem;
	font-weight: 700;
    line-height: 1;
}

.nav-icon {
    height: 3rem;
    width: auto;
}

.nav-title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.025em;
    color: var(--tertiary);
    position: absolute;
    display: hidden;
    margin-top: 0.625rem;
    margin-left: 0.75rem;
}

.laptop-hidden {
    display: hidden;
}

.nav-menu-button {
    display: flex;
    align-items: center;
    color: var(--tertiary);
    padding: 0.75rem;
}

.nav-menu-icon {
    display: block;
    height: 1rem;
    width: 1rem;
    fill: currentColor;
}

.nav-links {
    display: hidden;
    position: absolute;
    top: 0.75rem;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.nav-link {
    color: var(--tertiary);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.nav-link-active {
    color: var(--secondary);
}

.nav-link-active:hover {
    color: white;
}

.nav-link-btn {
    display: none;
}

.nav-link-btn button {
    display: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.25rem;
    color: var(--primary);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 800;
    border-color: var(--primary);
}

.nav-link-btn button:hover {
    border-color: transparent;
    color: var(--tertiary);
    background-color: var(--primary);
}

.nav-menu-container-hidden {
    position: relative;
    overflow: hidden;
    display: none;
    z-index: 50;
}

.nav-menu-container {
    position: relative;
    overflow: hidden;
    z-index: 50;
}

.nav-menu-screen-cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(31 41 55);
    opacity: 0.25;
}

.nav-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
	width: 83.333333%;
    max-width: 24rem;
    padding: 1.5rem;
    background-color: var(--tertiary);
    border-right-width: 1px;
    overflow-y: hidden;
}

.nav-menu-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-menu-icon {
    margin-right: auto;
	font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    line-height: 1;
}

.nav-menu-icon * {
    width: auto;
    height: 2.5rem;
}

.nav-menu-close-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--secondary);
    cursor: pointer;
}

.nav-menu-close-icon:hover {
    color: rgb(107 114 128);
}

.nav-menu-bottom {
    margin-top: auto;
}

.nav-menu-contact-container {
	padding-top: 1.5rem;
}

.nav-menu-contact-button {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 2;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 0.25rem;
    border-color: var(--primary);
    color: var(--primary);
    font-weight: 600;
}

.nav-menu-contact-button:hover {
    border: transparent;
    color: var(--tertiary);
    background: var(--primart);
}

.nav-menu-socials {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

@media (min-width: 1024px) {
    .nav-title {
        display: inline-block;
    }

    .laptop-hidden {
        display: block;
    }

    .nav-links {
        display: flex;
        position: relative;
        align-items: center;
        width: auto;
        flex: 1 1 0%;
        justify-content: center;
    }

    .nav-links > * + * {
        margin-left: 2rem;
    }

    .nav-link-btn {
        display: inline-block;
    }

    .nav-link-btn button {
        display: inline-block;
        margin-left: auto;
        margin-right: 1rem;
    }

    .nav-menu-social {
        margin-bottom: 3;
    }
};

.header-container {
    top: 0;
    left: 0;
    position: absolute;
    min-height: 80vh;
    width: 100%;
    background: no-repeat;
    background-image: url("../public/assets/img/qzFkzdkDGTdIEuy5qY9h.svg");
    background-position: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

.header-container-content {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.header-title {
    color: var(--tertiary);
    text-align: center;
}

.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
